/********************************************************
 ********************************************************
                      GALLERY.html
 ********************************************************
 ********************************************************/


#gallery-title {
  color: #7e2857;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}
