/********************************************************
 ********************************************************
            SHADOW CARD WITH ROW AND COLUMNS
 ********************************************************
 ********************************************************/

/* There is only one row usually */
.shadow-row {
  margin: 0 -5px;
}
.shadow-row:after {
  content: "";
  display: table;
  clear: both;
}

.shadow-column {
  float: left;
  width: 100%;
  padding: 0px 1%;
}
.third {
  width: 31%;
}
.half {
  width: 48%;
}


/****************************************
            CARDS WITH SHADOW
 ****************************************/

.shadow-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin-bottom: 30px;
  background-color: #f1f1f1;
  display: hidden;
}
