html {
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  overflow-wrap: break-word;
  min-width: 1200px;
}
img {
  max-width: 100%;
  max-height: 100%;
}
a:link {
  color: #7e2857;
  text-decoration: none;
}
a:visited {
  color: #7e2857;
  text-decoration: none;
}
a:hover {
  color: #7e2857;
  text-decoration: underline;
}
a:active {
  color: #7e2857;
  text-decoration: none;
}
table, th, td {
  border-collapse: collapse;
  color: black;
  width: 100%;
  text-align: left;
}
table {
  table-layout: fixed;
}
th, td {
  padding: 20px;
  vertical-align: top;
  border: 1px solid black;
}



/*


HEADER


*/

#header-container {
  position: relative;
  height: 7vh;
  background: #7e2857;
}
#header {
  position: relative;
  left: 10%;
  width: 80%;
  height: 100%;
  display: inline-block;
}
#header-name {
  font-size: 1.2em;
  font-weight: bold;
  color: #f9c809;
  height: 7vh;
  line-height: 7vh;
  padding-right: 5%;
  display: inline;
}
#header-link {
  color: white;
  padding: 0px 1%;
}
#header-api {
  float: right;
  font-size: 1.0em;
  color: #f9c809;
  height: 7vh;
  line-height: 7vh;  
}

/*


PERSISTENT DASBHOARD


*/

button#persistent-dashboard-button {
  position: fixed;
  top: 30vh;
  height: 160px;
  left: 0px;
  width: 3%;
  background-color: #7e2857;
  border-radius: 0px 15px 15px 0px;
  border: none;
  text-align: center;
  outline:none;
  margin: 0;
  padding: 0;
  transition-duration: 0.4s;
}
button#persistent-dashboard-button:hover {
  background-color: #8f3566;
  cursor: pointer;
}
#persistent-dashboard-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  display: inline-block;
  color: #f9c809;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 0.2em;
}


/*


BODY


*/

#body-container {
  position: relative;
  left: 10%;
  width: 80%;
  height: 100%;
  min-height: 48vh;
}
#body-title {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2em;
  padding-top: 10vh;
  padding-bottom: 3vh;
}
#body-subtitle {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3em;
  padding-top: 5vh;
  padding-bottom: 3vh;
}
#body-text {
  color: black;
  font-size: 1.0em;
  font-weight: normal;
}
#body-text-hover {
  color: black;
  font-size: 1.0em;
  font-weight: normal;
}
#body-text-hover:hover {
  background: white;
  cursor: pointer;
}
#body-bold-remark {
  color: black;
  font-size: 1.0em;
  font-weight: bold;
  padding: 2% 0px;  
}
ol.body-list {
  color: black;
  font-size: 1.0em;
  list-style-type: upper-roman;
}
ul.body-list {
  color: black;
  font-size: 1.0em;
  list-style: circle;
}
li {
  padding-left: 3%;
  font-weight: normal;
}


/*


HOME


*/

#box-round-block {
  border-radius: 6px;
  padding: 2%;
  left: 0;
  width: 96%;
  border: 2px solid #f9c809;
  background: white;
}
#box-left {
  width: 70%;
}
#box-right {
  width: 30%;
}
#box-title {
  color: black;
  font-weight: bold;
  font-size: 2em;
  padding-bottom: 2%;
}
#box-description {
  color: black;
  font-size: 1.1em;
  padding-bottom: 2%;
}
#box-img {
  left: 70%;
  width: 30%;
}
button.box-button-get-started {
  background-color: #7e2857;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 1% 2%;
  text-align: center;
  text-decoration: none;
  font-size: 0.9em;
  transition-duration: 0.4s;
}
button.box-button-get-started:hover {
  background-color: #8f3566;
  cursor: pointer;
}
#div-hover:hover {
  background: white;
  cursor: pointer;
}


/*


USER DASHBOARD


*/

input#box-input-write-key[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition-duration: 0.4s;
}
input#box-input-write-key[type=text]:focus {
  border: 2px solid #7e2857;
  outline-width: 0;
}
input#box-button-write-key {
  background-color: #7e2857;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 1.5% 2%;
  text-align: center;
  font-size: 0.9em;
  transition-duration: 0.4s;
}
input#box-button-write-key:hover {
  cursor: pointer;
}
#box-bad-key {
  display: inline;
  padding: 1.5%;
  text-align: center;
  font-weight: bold;
  font-size: 0.9em;
  color: red;
}
#box-log-out {
  display: none;
  float: right;
  font-size: 0.9em;
  color: #7e2857;
  text-decoration: underline;
}
#box-log-out:hover {
  cursor: pointer;
}


.dashboard-row {
  margin: 0 -5px;
}
.dashboard-row:after {
  content: "";
  display: table;
  clear: both;
}
.dashboard-column {
  float: left;
  width: 29%;
  padding: 0px 2%;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
.dashboard-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin-bottom: 30px;
  background-color: #f1f1f1;
  display: hidden;
}

#dashboard-title {
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 2.0em;
  width: 100%;
  padding-bottom: 2%;
}


/*

CONFIRMS

*/
#confirm-card {
  margin-bottom: 2%;
  margin-left: 3%;
  margin-right: 3%;
  border: 2px solid black;
  padding: 1% 1%;
  border-radius: 20px;
  width: 40%;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #f1f1f1;
}
#confirm-time {
  font-weight: bold;
}
#confirm-values {
  margin-left: 5%;
}
#confirm-see-more {
  text-align: center;
}
#confirm-see-more-text {
  color: black;
  font-size: 1.0em;
  font-weight: normal;
}
button#confirm-see-more-button {
  background-color: #7e2857;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 1% 2%;
  text-align: center;
  text-decoration: none;
  font-size: 0.9em;
  transition-duration: 0.4s;
}
button#confirm-see-more-button:hover {
  background-color: #8f3566;
}
#confirm-back-to-top {
  position:fixed; 
  right: 3%; 
  bottom: 5%;
  background-color: #f9c809;
  padding: 0.5% 0.5%;
  border-radius: 8px;
  color: #7e2857;
  transition-duration: 0.4s;
}
a#confirm-back-to-top:hover {
  text-decoration: none;
  background-color: #f5d351;
}


/*

TRANSACTIONS

*/


/*

ERRORS

*/


/*

WARNINGS

*/


/*


STREAM DASHBOARD


*/

#box-current-value {
  float: right;
  display: none;
}
#box-red-text {
  color: red;
  font-size: 1.2em;
  font-weight: bold;
  display: inline;
}
#box-current-value-value {
  color: #7e2857;
  font-size: 1.2em;
  font-weight: bold;
}
#dashboard-bargraph {

}
#dashboard-leaderboard {

}
#dashboard-lagged-cdf {
  display: inline-block;
  width: 100%;
}
#dashboard-lagged {
  display: inline;
  float: left;
  width: 48%;
}
#dashboard-cdf {
  display: inline;
  float: right;
  width: 48%;
}


#dashboard-table-container {
  height: 50vh;
  overflow: auto;
}
table#dashboard-table {
  color: white;
  border-spacing: 0;
}
#dashboard-table tr:first-child {
  background-color: #7e2857;
}
#dashboard-table tr:first-child th {
  color: #f9c809;
}
#dashboard-table tr {
  background-color: white;
}
#dashboard-table tr:nth-child(2) > td {
  border-top-width: 0;
}
#dashboard-table th, #dashboard-table td {
  margin: 0;
  padding: .5em 1.5em;
  text-align: center;
  border-width: 1px 0;
  border-color: #7e2857;
  border-style: solid;
}
#dashboard-table th {
  border-bottom-width: 4px;
}
#dashboard-table th:nth-child(even) {
  border-width: 0 4px;
  border-color: white;
  border-style: solid;
}
#dashboard-table td:nth-child(even) {
  border-width: 1px 4px;
  border-color: #7e2857;
  border-style: solid;
}

button#box-button-stream {
  background-color: #7e2857;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 1% 2%;
  margin-left: 5%;
  text-align: center;
  text-decoration: none;
  font-size: 0.9em;
  transition-duration: 0.4s;
  display: none;
}
button#box-button-stream:hover {
  background-color: #8f3566;
  cursor: pointer;
}

#box-horizon {
  display: none;
}
#box-horizon-button-group {
  margin-left: 10%;
}
#box-horizon-button-group button {
  background-color: #7e2857;
  border: 2px solid #8f3566;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  float: left;
  transition-duration: 0.4s;
}
#box-horizon-button-group:after {
  content: "";
  clear: both;
  display: table;
}
#box-horizon-button-group button:not(:last-child) {
  border-right: none;
}
#box-horizon-button-group button:hover {
  background-color: #8f3566;
}



/*


GALLERY


*/

#gallery-title {
  color: #7e2857;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}


/*


FAQ


*/

#faq-q-container {
  margin-bottom: 1%;
}
#faq-q {
  color: #7e2857;
  font-size: 1.0em;
  font-weight: bold;
  display: inline;
}
#faq-a-container {
  margin-left: 2%;
  margin-bottom: 3%;
}
#faq-a {
  color: #f5d351;
  font-size: 1.0em;
  font-weight: bold;
  display: inline;
}
#faq-text {
  color: black;
  font-size: 1.0em;
  font-weight: normal;
  display: inline;
}


/*


SPACE


*/

#space {
  height: 10vh;
  position: relative;
}


/*


FOOTER


*/

#footer-container {
  height: 35vh;
  position: relative;
  background-color: #34495e;
}
#footer {
  height: 100%;
  position: relative;
  left: 15%;
  width: 70%;
}
#footer-left {
  position: absolute;
  left: 0%;
  width: 33%;
  top: 0%;
  height: 100%;
}
#footer-email {
  position:absolute; 
  top:10%; 
  left:0%; 
  width:100%;
}
#footer-right {
  position: absolute;
  left: 34%;
  width: 66%;
  top: 0%;
  height: 100%;
}
#footer-links {
  position: absolute;
  top: 10%;
  left: 0%;
  width: 100%;
}
#footer-links a {
  color: white;
  padding-right: 20px;
}
