<div id="footer-container">
  <div id="footer">
    <div id="footer-left">
      <div id="footer-links">
        <p>Questions?</p>
        <a href="contact" target="_blank">Contact Us</a>
      </div>
    </div>
    <div id="footer-right">
      <div id="footer-links">
        <!-- <p>This month's awards</p> -->
        <!-- <a href="july.html">July incentives ($4,000)</a> -->
      </div>
    </div>
  </div>
</div>

<button id="persistent-dashboard-button" class="persistent-button" onclick="location.href='/'">
  <div id="persistent-text">Dashboard</div>
</button>
<button id="persistent-leaderboard-button" class="persistent-button" onclick="location.href='leaderboard.html'">
  <div id="persistent-text">Leaderboard</div>
</button>
<button id="persistent-competitions-button" class="persistent-button" onclick="location.href='competitions'">
  <div id="persistent-text">Competitions</div>
</button>
