<div id="header-container-small">
  <nav class="navbar navbar-dark" style="background-color: white">
    <a id="header-name" href="/"><img src="/static/Microprediction_logo_TM.jpg" alt="Logo" title="logo" ></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">

        <!-- FOR MOBILE // persistent buttons moved to header -->
        <div id="mobile-persistent-buttons">
          <a id="mobile-link" href="dashboard.html">Go to Dashboard &rarr;</a>
          <a id="mobile-link" href="leaderboard.html">Go to Leaderboards &rarr;</a>
          <a id="mobile-link" href="competitions">Go to Competitions &rarr;</a>
        </div>

        <a id="navbar-section" href="https://devapi.microprediction.org/">Go to API &rarr;</a>

        <div id="navbar-section"> Publish Data </div>
        <li class="nav-item">
          <a class="nav-link" href="publishing.html">Tutorial</a>
        </li>
        <div id="navbar-section"> Submit Predictions </div>
        <li class="nav-item">
          <a class="nav-link" href="predicting.html">Tutorial</a>
          <a class="nav-link" href="muids" target="_blank">Memorable Unique IDs</a>
          <a class="nav-link" href="crawling.html">Crawling</a>
        </li>
        <div id="navbar-section"> Data Streams </div>
        <li class="nav-item">
          <a class="nav-link" href="gallery.html">Gallery</a>
          <a class="nav-link" href="browse_streams.html">Browse Streams</a>
          <a class="nav-link" href="python-4" target="_blank">Create</a>
          <a class="nav-link" href="features.html">Download</a>
          <a class="nav-link" href="features.html">Plot</a>
          <a class="nav-link" href="welcome-3" target="_blank">Imagine</a>
        </li>
        <div id="navbar-section"> Learn More </div>
        <li class="nav-item">
          <a class="nav-link" href="python-1" target="_blank">Getting Started</a>
          <a class="nav-link" href="about.html">About</a>
          <a class="nav-link" href="faq" target="_blank">FAQ</a>
          <a class="nav-link" href="contribute.html">Contribute</a>
          <a class="nav-link" href="github" target="_blank">Github</a>
          <a class="nav-link" href="contact" target="_blank">Contact Us</a>
        </li>
      </ul>
      <div id="half-space"></div>
    </div>
  </nav>
</div>
<div class="header-space"></div>
