<div id="header-container-big">
  <div class="header">

    <a id="header-name" href="/">Microprediction</a>

    <div class="header-dropdown">
      <button class="header-dropbtn">Publish Data <i class="fa fa-caret-down"></i></button>
      <div class="header-dropdown-content">
        <a href="publishing.html">Tutorial</a>
        <a href="publishing_faq.html">FAQ</a>
      </div>
    </div>

    <div class="header-dropdown">
      <button class="header-dropbtn">Submit Predictions <i class="fa fa-caret-down"></i></button>
      <div class="header-dropdown-content">
        <a href="predicting.html">Tutorial</a>
        <a href="muids.html">Memorable Unique IDs</a>
        <a href="crawling.html">Crawling</a>
        <a href="predicting_faq.html">FAQ</a>
      </div>
    </div>

    <div class="header-dropdown">
      <button class="header-dropbtn">Data Streams <i class="fa fa-caret-down"></i></button>
      <div class="header-dropdown-content">
        <a href="gallery.html">Gallery</a>
        <a href="browse_streams.html">Browse Streams</a>
        <a href="plotting.html">Plotting</a>
      </div>
    </div>


    <div class="header-dropdown">
      <button class="header-dropbtn">Learn More <i class="fa fa-caret-down"></i></button>
      <div class="header-dropdown-content">
        <a href="prizes.html">Prizes</a>
        <a href="about.html">About</a>
        <a href="contribute.html">Contribute</a>
        <a href="downloading.html">Downloading</a>
        <a href="https://github.com/microprediction/microprediction" target="_blank">Github</a>
        <a href="contact.html">Contact Us</a>
      </div>
    </div>

    <div id="header-api">
      <a href="https://devapi.microprediction.org/">Back to API</a>
    </div>

  </div>
</div>
