<div id="header-container-big">
  <div class="header-inner">
    <a id="header-name" href="/"><img src="/static/Microprediction_logo_TM.jpg" alt="Logo" title="logo" ></a>
    <div class="header">

      <div class="header-dropdown">
        <button class="header-dropbtn">Publish Data <i class="fa fa-caret-down"></i></button>
        <div class="header-dropdown-content">
          <a href="publishing.html">Tutorial</a>
        </div>
      </div>

      <div class="header-dropdown">
        <button class="header-dropbtn">Submit Predictions <i class="fa fa-caret-down"></i></button>
        <div class="header-dropdown-content">
          <a href="predicting.html">Tutorial</a>
          <a href="muids" target="_blank">Memorable Unique IDs</a>
          <a href="crawling.html">Crawling</a>
        </div>
      </div>

      <div class="header-dropdown">
        <button class="header-dropbtn">Data Streams <i class="fa fa-caret-down"></i></button>
        <div class="header-dropdown-content">
          <a href="gallery.html">Gallery</a>
          <a href="browse_streams.html">Browse Streams</a>
        </div>
      </div>

      <div class="header-dropdown">
        <button class="header-dropbtn">Learn More <i class="fa fa-caret-down"></i></button>
        <div class="header-dropdown-content">
          <a href="about.html">About</a>
          <a href="faq" target="_blank">FAQ</a>
          <a href="contribute.html">Contribute</a>
          <a href="features.html">Features</a>
          <a href="github" target="_blank">Github</a>
          <a href="contact.html">Contact Us</a>
        </div>
      </div>

      <div id="header-api">
        <a href="https://devapi.microprediction.org/">Back to API</a>
      </div>
    </div>
  </div>
</div>
<div class="header-space"></div>
