#leaderboards-container {
  display: inline-block;
}

#leaderboards-sidenav {
  width: 20%;
  float: left;
}

#leaderboard {
  width: 80%;
  float: right;
}

@media screen and (max-width: 800px) {
  #leaderboards-container { 
  	display: block;
  }
  #leaderboards-sidenav { 
  	width: 100%;
  	float: none;
  }
  #leaderboard {
  	width: 100%;
  	float: none;
  }
}