<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Live Data Streams</title>
    <link rel="stylesheet" href="/static/css_10_07_2020/style.css" type="text/css">
    <link rel="stylesheet" href="/static/css_10_07_2020/shadow_card.css" type="text/css">
    <link rel="stylesheet" href="/static/css_10_07_2020/gallery.css" type="text/css">
    <link rel="stylesheet" href="/static/css_10_07_2020/bootstrap.css" type="text/css">
    <link rel="shortcut icon" href="/static/icon_jupiter.ico" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script>
      $(function() {
        $("#header-small").load("header_small.html");
        $("#header-big").load("header_big.html");
        $("#my-footer").load("footer.html");
      });
    </script>
  </head>
  <body>

    <div id="header-small"></div>
    <div id="header-big"></div>

    <div id="body-title">Gallery of live data streams</div>
    <div id="space"></div>

    <div id="body-container">
      <div id="body-bold-remark">
        <a href="crawling.html">Crawlers</a> live here and get smarter by looking at real, live data.
      </div>
      <div id="body-text">
        They navigate using data page like <a href="budgets/">this</a> or <a href="sponsors/">this</a>.
        Human eyes aren't a requirement for navigation to streams, and we won't be able to keep this page up to date, but we thought you might like to click around to a few. We promote cross subsidy between commercial and civic prediction.
      </div>

      <div id="body-subtitle">Featured streams</div>

      <div class="shadow-row">


        <!-- THE LEFT HALF OF THE GALLERY -->

        <div class="shadow-column half">

          <div class="shadow-card">
            <div id="gallery-title">COVID-19</div>
            <div id="body-bold-remark">
              More on the way very soon
            </div>
            <div id="body-text">
              <ul>
                <li><a href="stream_dashboard.html?stream=hospital_bike_activity">Bike sharing activity near NYC hospitals</a></li>
                <li>Pandemic <a href="stream_dashboard.html?stream=pandemic_infected">agent model</a> explained in this <a href="https://www.linkedin.com/pulse/dear-new-zealand-heres-how-simulate-covid-19-all-your-cotton-phd/" target="_blank">article</a>. </li>
              </ul>
            </div>
          </div>

          <div class="shadow-card">
            <div id="gallery-title">Stocks</div>
            <div id="body-bold-remark">
              See <a href="july.html">incentive awards</a> related to some of these streams
            </div>
            <div id="body-text">
              <ul>
                <li><a href="stream_dashboard.html?stream=cop">Conoco-Phillips</a>  (COP) minutely price changes. </li>
                <li>A projection of the implied z-scores of joint minutely prices changes of <a href="stream_dashboard.html?stream=z2~cop~fcx~70">Conoco-Phillips and Freeport-McMoRan</a> projected onto 1-dimension using a Z-order space filling curve. </li>
              </ul>
            </div>
          </div>

          <div class="shadow-card">
            <div id="gallery-title">Cryptocurrencies</div>
            <div id="body-bold-remark">
              Volatilities, correlations, implied fx and more.
            </div>
            <div id="body-text">
              <ul>
                <li><a href="stream_dashboard.html?stream=btc_usd">Bitcoin</a> scaled five minutely returns </li>
                <li>Bivariate <a href="stream_dashboard.html?stream=z2~btc_usd~btc_aud~70">USD / AUD </a> bitcoin fx returns copula </li>
                <li>Trivariate <a href="stream_dashboard.html?stream=z3~c5_bitcoin~c5_ethereum~c5_ripple~70">bitcoin ethereum ripple </a> five minute return copula </li>
              </ul>
            </div>
          </div>
        </div>


        <!-- THE RIGHT HALF OF THE GALLERY -->

        <div class="shadow-column half">

          <div class="shadow-card">
            <div id="gallery-title">Civic</div>
            <div id="body-bold-remark">
              Illustrative live examples. Create your own!
            </div>
            <div id="body-text">
              <ul>
                <li><a href="stream_dashboard.html?stream=traffic_absolute_speed">Traffic speed at an intersection in the Bronx</a></li>
                <li>Wind data in Seattle: <a href="stream_dashboard.html?stream=seattle_wind_speed">wind speed</a> and <a href="stream_dashboard.html?stream=seattle_wind_direction">normalized wind direction</a></li>
                <li><a href="stream_dashboard.html?stream=bart_delays">Aggregated delays on the BART</a></li>
              </ul>
            </div>
          </div>

          <div class="shadow-card">
            <div id="gallery-title">Simulated</div>
              <div id="body-bold-remark">
                An obstacle course for general purpose algorithms
             </div>
            <div id="body-text">
              <ul>
                <li>A simple <a href="stream_dashboard.html?stream=die">die</a> that trips up advanced algorithms. </li>
                <li>One coordinate in a <a href="stream_dashboard.html?stream=three_body_x">three body simulation</a> with noisy measurements. </li>
                <li>Implied copula for a <a href="stream_dashboard.html?stream=z3~copula_x~copula_y~copula_z~70">mystery</a> three dimensional random variable. </li>
              </ul>
            </div>
          </div>

          <div class="shadow-card">
            <div id="gallery-title">SciML Helicopter</div>
              <div id="body-bold-remark">
                Can you predict a <a href="https://www.linkedin.com/pulse/helicopulas-peter-cotton-phd/" target="_blank">helicopula</a> for the SciML challenge?
             </div>
            <div id="body-text">
              <ul>
                <li>Bivariate <a href="stream_dashboard.html?stream=z2~helicopter_psi~helicopter_theta~70">pitch and yaw</a> stream </li>
              </ul>
            </div>
          </div>

          <div class="shadow-card">
            <div id="gallery-title">Robotics and Human Motion</div>
              <div id="body-bold-remark">
                See <a href="https://www.linkedin.com/pulse/where-badminton-player-move-next-how-should-we-same-peter-cotton-phd/" target="_blank">article</a> on badminton.
              </div>
            <div id="body-text">
              <ul>
                <li>Player's neck position <a href="/stream_dashboard.html?stream=badminton_x&horizon=3555">x-coordinate</a> and <a href="/stream_dashboard.html?stream=badminton_y&horizon=3555">y-coordinate</a> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div id="space"></div>
    <div id="my-footer"></div>

  </body>
</html>
