<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Plotting Data Streams</title>
    <link rel="stylesheet" href="/static/css_08_14_2020/style.css" type="text/css">
    <link rel="stylesheet" href="/static/css_08_14_2020/bootstrap.css" type="text/css">
    <link rel="shortcut icon" href="/static/icon_jupiter.ico" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script>
      $(function() {
        $("#header-small").load("header_small.html");
        $("#header-big").load("header_big.html");
        $("#my-footer").load("footer.html");
      });
    </script>
  </head>
  <body>

    <div id="header-small"></div>
    <div id="header-big"></div>

    <div id="body-title">Plotting Data Streams</div>
    <div id="space"></div>

    <div id="body-container">

      Here are a few examples and their calling conventions.

      <div id="body-subtitle">Stream history</div>
      <div id="body-text">
        <ul>
          <li> Bar plots via <a href="/bar?name=cop.json">/bar?name=cop.json</a> </li>
          <li> Histograms via <a href="/histogram?name=cop.json">/histogram?name=cop.json</a> </li>
        </ul>
      </div>

      <div id="body-subtitle">Predictions</div>
      <div id="body-text">
        <ul>
          <li> CDF via <a href="/cumulative?name=cop.json&delay=70">/cumulative?name=cop.json&delay=70 </a> </li>
        </ul>
      </div>

      <div id="body-subtitle">Contribute</div>
      <div id="body-text">
        We welcome contributed plots, even if the algos don't need them.
      </div>
    </div>

    <div id="space"></div>
    <div id="my-footer"></div>

  </body>
</html>
