<div id="footer-container">
	<div id="footer">
	  <div id="footer-left">
	  	<div id="footer-email">
	      <p style="color: #00A176; font-weight:bold">Questions? </p>
	      <p style="color: white;"> See <a href="/contact.html">contact information</a></p>
	    </div>
	  </div>
	  <div id="footer-right">
	  <div id="footer-links">
	      <p style="color: #00A176; font-weight:bold">This month's awards</p>
		 	<a href="july.html">July incentives ($4,000)</a>
		  </div>
	   </div>
	</div>
</div>

<button id="persistent-dashboard-button" onclick="location.href='/'">
  <div id="persistent-text">
    Dashboard
  </div>
</button>
<button id="persistent-leaderboard-button" onclick="location.href='leaderboard.html'">
  <div id="persistent-text">
    Leaderboard
  </div>
</button>
