<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Predicting FAQ</title>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
    <link rel="stylesheet" href="/static/css/faq.css" type="text/css">
    <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css">
    <link rel="shortcut icon" href="/static/icon_jupiter.ico" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script>
      $(function() {
        $("#header-small").load("header_small.html");
        $("#header-big").load("header_big.html");
        $("#my-footer").load("footer.html");
      });
    </script>
  </head>
  <body>

    <div id="header-small"></div>
    <div id="header-big"></div>

    <div id="body-title">
      Predicting FAQ: Submitting predictions and writing crawlers
    </div>
    <div id="space"></div>
    <div id="body-container">
      <div id="body-text">

        <h2>Quickstart</h2>
        See <a href="predicting.html">prediction</a> and <a href="crawling.html">crawling</a> instructions.
        <h2>Getting help</h2>
        If answers here are not helpful, see also <a href="/contact.html">contact information</a> and don't be shy about asking questions or pointing out what we can improve.

     <h2>Welcome</h2>

      <div id="faq-q-container">
          <div id="faq-q">Q: </div><div id="faq-text">Is there prizemoney?</div>
        </div>
        <div id="faq-a-container">
          <div id="faq-a">A: </div><div id="faq-text">Yes. See the footer! </div>
        </div>

        <div id="faq-q-container">
          <div id="faq-q">Q: </div><div id="faq-text">Is this like the Netflix Prize, or Kaggle, or DrivenData?</div>
        </div>
        <div id="faq-a-container">
          <div id="faq-a">A: </div><div id="faq-text">No, <a href="https://www.linkedin.com/pulse/dorothy-youre-kaggle-anymore-peter-cotton-phd/">you're not in Kaggle anymore</a>. Anchor at your peril!  </div>
        </div>

       <div id="faq-q-container">
          <div id="faq-q">Q: </div><div id="faq-text">Do I have to use Python?</div>
        </div>
        <div id="faq-a-container">
          <div id="faq-a">A: </div><div id="faq-text">No. You can use the API directly. See the <a href="/">API page</a> or read the <a href="https://github.com/microprediction/microprediction/blob/master/microprediction/writer.py">MicroWriter</a> code to infer how to send scenarios.</div>
        </div>

        <div id="faq-q-container">
          <div id="faq-q">Q: </div><div id="faq-text">Do you have client libraries in other languages?</div>
        </div>
        <div id="faq-a-container">
          <div id="faq-a">A: </div><div id="faq-text">Not yet. Write one and you'll certainly be in the running for a contributor prize. See the footer! </div>
        </div>

         <div id="faq-q-container">
          <div id="faq-q">Q: </div><div id="faq-text">Is the site used for prediction of singlular events like a binary outcome of an election?</div>
        </div>
        <div id="faq-a-container">
          <div id="faq-a">A: </div><div id="faq-text">No. This is intended for fast moving, repeated predictions that drive intelligent applications, control, alerting, monitoring and optimization of various sorts. See <a href="/about.html">about</a>. </div>
        </div>


      <h2>Distributional predictions</h2>

        <div id="faq-q-container">
          <div id="faq-q">Q: </div><div id="faq-text">When I submit a prediction, what exactly do I supply?</div>
        </div>
        <div id="faq-a-container">
          <div id="faq-a">A: </div><div id="faq-text">You submit {{num_predictions}} floating point numbers. </div>
        </div>

          <div id="faq-q-container">
          <div id="faq-q">Q: </div><div id="faq-text">How are predictions judged?</div>
        </div>
        <div id="faq-a-container">
          <div id="faq-a">A: </div><div id="faq-text">You receive a positive or negative score based on how many of your {{num_predictions}} numbers end up being close
          to the subsequently revealed truth. The reward also depends on how close other people's guesses are.</div>
        </div>

        <div id="faq-q-container">
          <div id="faq-q">Q: </div><div id="faq-text">Why aren't predictions a single number?</div>
        </div>
        <div id="faq-a-container">
          <div id="faq-a">A: </div><div id="faq-text">Point estimates are are inherently difficult to interpret and combine. See this <a href="https://www.linkedin.com/pulse/where-badminton-player-move-next-how-should-we-same-peter-cotton-phd/">article</a> for
          further discussion. </div>
        </div>

         <div id="faq-q-container">
          <div id="faq-q">Q: </div><div id="faq-text">Over what horizon do I make predictions?</div>
        </div>
        <div id="faq-a-container">
          <div id="faq-a">A: </div><div id="faq-text">You can supply a delay parameter chosen from your writer or crawler's .DELAYS property (or <a href="https://config.microprediction.org/config.json">config.json</a>). Approximately: 1m, 5m, 15m and 1hr.  </div>
        </div>

        <div id="faq-q-container">
          <div id="faq-q">Q: </div><div id="faq-text">How do I know how many data points ahead I am predicting?</div>
        </div>
        <div id="faq-a-container">
          <div id="faq-a">A: </div><div id="faq-text">You don't know. However in many cases data is supplied semi-regularly so it is statistically fairly obvious. See <a href="https://www.linkedin.com/pulse/short-introduction-z-streams-peter-cotton-phd/">An Introduction to Z-Streams</a> </div>
        </div>

         <h2>Crawling</h2>

          <div id="faq-q-container">
          <div id="faq-q">Q: </div><div id="faq-text">Is there a Hello World crawler?</div>
        </div>
        <div id="faq-a-container">
          <div id="faq-a">A: </div><div id="faq-text">You may wish to start with deriving from SimpleCrawler as described
          in this <a href="https://www.linkedin.com/pulse/benchmarking-automl-vendors-open-source-time-series-peter-cotton-phd/">article</a>. That includes
          links to an example crawler you can modify. A SimpleCrawler will only visit a curated set of regular univariate streams, and is thus a good way
          to get your feet wet. </div>
        </div>

     <div id="faq-q-container">
          <div id="faq-q">Q: </div><div id="faq-text">Where should I run my crawler?</div>
        </div>
        <div id="faq-a-container">
          <div id="faq-a">A: </div><div id="faq-text">You can run it locally if you wish. For other suggestions see <a href="https://www.linkedin.com/pulse/you-love-your-algorithm-set-free-peter-cotton-phd/">If You Love Your
          Algorithm, Set it Free</a> article.</div>
        </div>

        <h2>Bivariate and Trivariate prediction, Z-Streams and all that</h2>

        <div id="faq-q-container">
          <div id="faq-q">Q: </div><div id="faq-text">What are the Z-streams?</div>
        </div>
        <div id="faq-a-container">
          <div id="faq-a">A: </div><div id="faq-text">Every time a data feed value arrives, an implied z-score is computed based on the
          existing predictions from yourself and other algorithms. A secondary stream is automatically created where algorithms
          predict these normalized z-scores. Read <a href="https://www.linkedin.com/pulse/short-introduction-z-streams-peter-cotton-phd/">An Introduction to Z-Streams</a>.
          </div>
        </div>

        <div id="faq-q-container">
          <div id="faq-q">Q: </div><div id="faq-text">Can I predict joint outcomes?</div>
        </div>
        <div id="faq-a-container">
          <div id="faq-a">A: </div><div id="faq-text">For a walkthrough of bivariate and trivariate prediction see <a href="https://www.linkedin.com/pulse/helicopulas-peter-cotton-phd/">Helicopulas</a>
          article and <a href="https://www.linkedin.com/pulse/call-contributions-copula-contest-where-carefully-can-cotton-phd/">cryptocurrency</a> copula articles.</a></div>
        </div>




            <h2>Registration, write keys and MUIDs</h2>

         <div id="faq-q-container">
          <div id="faq-q">Q: </div><div id="faq-text">Where do I register?</div>
        </div>
        <div id="faq-a-container">
          <div id="faq-a">A: </div><div id="faq-text">You don't have to. Just run a crawler and it will create an identify (write key) for you on the fly.</div>
        </div>

        <div id="faq-q-container">
          <div id="faq-q">Q: </div><div id="faq-text">I don't understand MUIDs</div>
        </div>
        <div id="faq-a-container">
          <div id="faq-a">A: </div><div id="faq-text"> See <a href="muids.html">guide to MUIDs</a>. They are just randomly generated numbers that happen to be very lucky, in the sense that the hex digest of their SHA-256 hash looks like a cute animal name. If that doesn't make sense then:
          <ol>
            <li> We suggest this <a href="https://vimeo.com/397352413">video</a> introduction.</li>
            <li> Or ... if you know what a <a href="http://www.muid.org/hash/fb74baf628d43892020d803614f91f29">hash</a> is just read the MUID <a href="https://muid.readthedocs.io/en/latest/">README</a>.</li>
          </ol>
          We insist on write_keys being MUIDs to add a bit of mass and discourage abuse, as noted above.
          </div>
        </div>

        <div id="faq-q-container">
          <div id="faq-q">Q: </div><div id="faq-text">Can my algorithms solicit their own predictions?</div>
        </div>
        <div id="faq-a-container">
          <div id="faq-a">A: </div><div id="faq-text">Absolutely. Why not publish your model residuals? You achieve <em>at least</em> ongoing performance analysis of your model, and also an accurate distributional description of your residuals. Perhaps also:
            <ol>
              <li> Sooner or later your residuals will correlate to a data source you don't know about.</li>
              <li> You'll be able to combine the information with you existing model to make a better one.</li>
            </ol>
          </div>
        </div>

        <h2>Miscellaneous</h2>


        <div id="faq-q-container">
          <div id="faq-q">Q: </div><div id="faq-text">What prevents me from creating thousands of algorithms?</div>
        </div>
        <div id="faq-a-container">
          <div id="faq-a">A: </div><div id="faq-text">Their associated write_key balances will go bankrupt. Activity like this is also likely to violate the community norms and terms of service. </div>
        </div>

        <div id="faq-q-container">
          <div id="faq-q">Q: </div><div id="faq-text">Is there some way I can help without doing stats?</div>
        </div>
        <div id="faq-a-container">
          <div id="faq-a">A: </div><div id="faq-text">Yes you can help us find MUIDs. Email us at info@microprediction.com if you have some spare CPU capacity. Alternatively
          you can directly support someone else's stream if you know them by using the transfer functionality. See the microprediction package on PyPI and github, or the API</div>
        </div>


        <div id="faq-q-container">
          <div id="faq-q">Q: </div><div id="faq-text">Will it be maintained?</div>
        </div>
        <div id="faq-a-container">
          <div id="faq-a">A: </div><div id="faq-text">Yes. Micropredictions, LLC is supporting the open source code development.</div>
        </div>


        <div id="faq-q-container">
          <div id="faq-q">Q: </div><div id="faq-text">Where might this lead?</div>
        </div>
        <div id="faq-a-container">
          <div id="faq-a">A: </div><div id="faq-text">See the <a href="about.html">why page</a> for futher discussion.</div>
        </div>

         <div id="faq-q-container">
          <div id="faq-q">Q: </div><div id="faq-text">Where can I suggest ideas for new algorithms?</div>
        </div>
        <div id="faq-a-container">
          <div id="faq-a">A: </div><div id="faq-text">Add to the <a href="https://github.com/microprediction/microprediction/projects/4">project panel</a></div>
        </div>

         <div id="faq-q-container">
          <div id="faq-q">Q: </div><div id="faq-text">Is there more I can read?</div>
        </div>
        <div id="faq-a-container">
          <div id="faq-a">A: </div><div id="faq-text">Yes see the <a href="https://www.linkedin.com/in/petercotton/detail/recent-activity/posts/">articles</a> on LinkedIn and the documentation for
          the <a href="https://github.com/microprediction/microprediction">microprediction package</a> on Github. Look for hashtag <b>microprediction</b>.
         </div>
        </div>

    </div>

    <div id="space"></div>
    <div id="my-footer"></div>

  </body>
</html>
