<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/static/css_10_07_2020/style.css" type="text/css">
    <link rel="stylesheet" href="/static/css_10_07_2020/bootstrap.css" type="text/css">
    <link rel="shortcut icon" href="/static/icon_jupiter.ico" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script>
      $(function() {
        $("#header-small").load("header_small.html");
        $("#header-big").load("header_big.html");
        $("#my-footer").load("footer.html");
      });
    </script>
  </head>
  <body>

    <div id="header-small"></div>
    <div id="header-big"></div>

    <div id="body-title">Contact Us</div>
    <div id="space"></div>

    <div id="body-container">
      <div id="body-text">
        There are no silly questions, only improvable documentation!
      </div>

      <h2>Quora</h2>
      <ol>
        <li>At <a href="https://www.quora.com" target="_blank">quora</a> click "Add Question" at the top right.</a></li>
        <li>Add subject "microprediction" in addition to others that may be relevant </li>
        <li>Try to make your issue or comment or question as clear and, ideally, reproducible, as you can.</li>
      </ol>


      <h2>Issues</h2>
      It is more than fine to post an issue pointing out that documentation is unclear, or could be improved.

      <ol>
        <li>Upgrade! pip install --upgrade microprediction, and see if the problem is fixed already.</li>
        <li>Add issues at <a href="https://github.com/microprediction/microprediction/issues" target="_blank">microprediction</a>.</li>
        <li>As above, reproducibility is highly desireable.</li>
        <li>Consider creating a small <a href="https://colab.research.google.com/" target="_blank">colab notebook</a> to illustrate your question and at the same time provide a fast way for someone to respond.</li>
        <li>Consider creating a <a href="https://gist.github.com/" target="_blank">gist</a> to illustrate your question, if applicable, for the same reasons.</li>
      </ol>

      <h2>PythonAnywhere Teacher mode</h2>
      If using PythonAnywhere to run your crawler you have another option.

      <ol>
        <li> From your home page, locate the "Teacher" tab </li>
        <li> Add teacher name "microprediction" </li>
        <li> THIS WILL GRANT US ACCESS TO YOUR CODE, LOGS etc </li>
        <li> Also follow one of the steps above and reference your account on PA. </li>
      </ol>

      <h2>General career questions</h2>
      <ol>
        <li> Send CVs to careers@microprediction.org </li>
        <li> Be aware that your CV may be forwarded to companies sponsoring contests, such as Intech Investments. </li>
        <li> Some employers may appreciate evidence that you are willing and capable of performing tasks that relate to real world work.
        Suggested reading: <a href="https://www.linkedin.com/pulse/dorothy-youre-kaggle-anymore-peter-cotton-phd/" target="_blank">Dorothy, You're not in Kaggle Anymore</a>. </li>
      </ol>


      <h2>Contact</h2>
        <table class="default-table">
        <tr>
          <th>Function</th>
          <th>Email</th>
        </tr>
        <tr>
          <td>General</td>
          <td>info@microprediction.org</td>
        </tr>
        <tr>
          <td>Support</td>
          <td>support@microprediction.org</td>
        </tr>
        <tr>
          <td>Careers</td>
          <td>careers@microprediction.org</td>
        </tr>
         <tr>
          <td>Media</td>
          <td>media@microprediction.org</td>
        </tr>
         <tr>
          <td>Partners</td>
          <td>partners@microprediction.org</td>
        </tr>
          <tr>
          <td>Payments</td>
          <td>payments@microprediction.org</td>
        </tr>
      </table>
    </div>

    <div id="space"></div>
    <div id="my-footer"></div>

  </body>
</html>
