/********************************************************
 ********************************************************
                      GALLERY.html
 ********************************************************
 ********************************************************/


#gallery-title {
  color: #00A176;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 800px) {
	.half {
    width: 100%;
  }
}